<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Name</label>
          <input type="text" id="item-name" required class="form-control">
        </div>

        <div class="col-sm-2 form-group">
          <label for="item-amount">Amount</label>
          <input type="text" id="item-amount" required class="form-control">
        </div>
      </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Add</button>
            <button class="btn btn-danger" type="submit">Delete Item</button>
            <button class="btn btn-primary" type="submit">Clear</button>
          </div>
        </div>
     </form>
   </div>
</div>
