<div class="row">
  <div class="list-group">
    <rb-shopping-list-add></rb-shopping-list-add>
    <hr />
    <ul class="list-group">
      <a class="list-group-item" style="..."></a>
    </ul>
  </div>
</div>
