<a href="#" class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
    <img height="50" width="50" class="img-responsive"
      src="{{ recipe.imagePath }}"
      style="..."/>
  </span>
</a>
